
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
   <link rel="stylesheet" href="{% static 'global.css' %}">  
</head>
        <body>
            {% include 'navbar.html' %}
            <div class="reg-container">
                <h1 class="reg-heading">Register</h1>
                <form action="/url/to/submit/" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                {% endbuttons %}
            </form>
        </div>  

        </body>
</html>