<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    {% load bootstrap_icons %}
     <link rel="stylesheet" href="{% static 'global.css' %}">  
   </head>

<body>
    <footer>
        <div class="container py-4 py-lg-5">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-6">Services</h3>
                    <ul class="list-unstyled">
                        <li><a class="link-secondary" href="#">Groups</a></li>
                        <li><a class="link-secondary" href="#">My Task</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 text-center text-lg-start d-flex flex-column item">
                    <h3 class="fs-6">About</h3>
                    <ul class="list-unstyled">
                        <li><a class="link-secondary" href="#">Company</a></li>
                        <li><a class="link-secondary" href="#">Team</a></li>
                        <li><a class="link-secondary" href="#">Legacy</a></li>
                    </ul>
                </div>
               
                <div class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last item social">
                    <div class="fw-bold d-flex align-items-center mb-2">
                        <img src="{% static 'images/teamtalklogo.png' %}" alt="">
                        <span>Brand</span></div>
                    <p class="text-muted copyright">Sem eleifend donec molestie, integer quisque orci aliquam.</p>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-between align-items-center pt-3">
                <p class="text-muted mb-0">Copyright © 2024 Team Talk</p>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        {% bs_icon 'facebook' %}
                    </li>
                    <li class="list-inline-item">
                        {% bs_icon 'whatsapp' %}
                    </li>
                    <li class="list-inline-item">
                        {% bs_icon 'twitter-x' %}
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>