<html>
    <head>
         {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}
   <link rel="stylesheet" href="{% static 'global.css' %}">  
    </head>
    <body>
        {% include 'navbar.html' %}
    <div class="row">
        <div class="p-4 col-10 groups-heading ">
           
            <p> <img
                class=""
                src="{% static 'images/group-page.png' %}"
                alt="Card image cap"
                width='50px'
              /><span class="group-heading">Group Information:</span> Manage and view details of your group.</p>
        </div>
        <div class="p-4 col-2">
            {% if request.user.is_staff %}
            <a href="/creategroup" class="btn btn-primary">Create New Group</a>
            {% endif %}
        </div>
        {% if not request.user.is_staff %}
        <div class='d-flex justify-content-center'>
        <span class="role-render">Only Admins can create groups</span>
        </div>
        {% endif %}

    </div>

        {%include 'group-table.html'  %}
    </body>
</html>