asgiref==3.7.2
beautifulsoup4==4.12.3
blessed==1.20.0
cement==2.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.3
defusedxml==0.7.1
Django==4.2.10
django-bootstrap-icons==0.8.7
django-bootstrap-v5==1.0.11
django-crispy-forms==2.1
django-storages==1.14.2
idna==3.6
jmespath==1.0.1
pathspec==0.10.1
python-dateutil==2.8.2
PyYAML==6.0.1
requests==2.31.0
semantic-version==2.8.5
ses-email-x20238813==0.1
setuptools==69.1.1
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
termcolor==1.1.0
typing_extensions==4.10.0
urllib3==1.26.18
wcwidth==0.1.9
