<html>
    <head>
  {% load static %}
  {% load bootstrap_icons %}
   <link rel="stylesheet" href="{% static 'global.css' %}">  
   <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
   
</head>
    <body>
        {% include 'navbar.html' %}
    <div class="create-task-container">
        <h1 class="mt-2 text-center heading-font">Create Task {{group_data.group_name}}<img
            class="create-group-img"
            src="{% static 'images/create-group.png' %}"
            alt="Card image cap"
          /></h1>
        <form method="post" action="{% url 'add_task' group_id=group_data.group_id %}">
            {% csrf_token %}
            <div class="row form-group my-3">
                <h5 class="col-md-3 text-center " for="group_name">Task brief:</h5>
                <div class="col-md-8">
                <input type="text" class="col-md-6 form-control" id="task_brief" name="task_brief" required>
                </div>
            </div>
            <div class="row form-group my-3">
                <h5 class="col-md-3 text-center" for="description">Task Description:</h5>
                <div class="col-md-8">
                    <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
                </div>
            </div>
            <div class="select-user-container my-3">
                <input type="hidden" name="selected_member" id="selected_member" value="">
                <input type="hidden" name="selected_member_id" id="selected_member_id" value="">

                <div class="dropdown my-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Members
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="userDropdown">
                    </div>
                </div>
                <label>Assign to:</label>
                <div id="selectedGroupMember">
            </div> 
            </div>
            <div class="row form-group my-3">
                <h5 class="col-3">Due date:</h5>
                <div class="col-md-8">
                <input class="datepicker" type="date" id="due_date" name="due_date">
                </div>
        </div>

        <div id="selectedUsers"></div>
      
        <div  class="row mt-5">
            <h5 class="col-3">Priority</h5>
            <div class="btn-group col-6 prority-group" role="group" aria-label="Priority Selector">
                <input type="hidden" id="priorityInput" name="priority" value="low">
                <button type="button" onclick="changePriority('low')" class="btn-priority low-priority active" id="priorityLow">Low</button>
                <button type="button" onclick="changePriority('medium')" class="btn-priority" id="priorityMedium">Medium</button>
                <button type="button" onclick="changePriority('high')" class="btn-priority high-priority " id="priorityHigh">High</button>

            </div>
        </div>
        <div  class="row mt-5">
            <h5 class="col-3">Status</h5>
            <div class="btn-group col-6 " role="group" aria-label="Priority Selector">
                <input type="hidden" id="statusInput" name="status" value="not-started">
                <button type="button" onclick="changeStatus('not-started')" class="btn-status not-started-status  active" id="notStarted">Not Started</button>
                <button type="button" onclick="changeStatus('in-progress')" class="btn-status in-progress-status border-primary" id="inProgress">In Progress</button>
                <button type="button" onclick="changeStatus('completed')" class="btn-status completed-status " id="completed">Completed</button>
            </div>
        </div>
         

        {% comment %} <div class="row mt-5">
            <h5 class="col-3">Upload File(s3)</h5>

            <input class="col-6" type="file" name="file"> 
        </div> {% endcomment %}

        <div class="create-submit-container mt-5">
            <button type="submit" class="btn btn-primary mt-2 create-group-submit">Create Task</button>
        </div> 

   
    </form>
        <script>
            let priority="low"
            let status="not-started"

            let userList= [];
            let selectedUsers= [];
            let group_id= {{ group_id }};
            fetch(`/fetch_group_data/${group_id}/`)
            .then(response => response.json())
            .then(data => {
                parsedMember=JSON.parse(data.group_data.group_members);
                console.log(parsedMember, "parsedMember");

                parsedMember.forEach(member => {
                    userList.push(member);
                });
                console.log(selectedUsers)
                addMembersToList()
               
            });
            

            function addMembersToList() {
                const userDropdownElement = document.getElementById('userDropdown');
                
                userList.forEach(user => {
                    const listItem = document.createElement('a');
                    listItem.classList.add('dropdown-item');
                    listItem.href = '#';
                    listItem.textContent = user.username;
                    listItem.dataset.id = user.id;
            
                    userDropdownElement.appendChild(listItem);

                    listItem.addEventListener('click', function(event) {
                        event.preventDefault();
                        const selectedUser = {
                            id: user.id,
                            username: user.username
                        };
                        const selectedId = parseInt(user.id);
                        if (!selectedUsers.some(u => u.id === selectedId)) {
                            selectedUsers.push(selectedUser);
                            console.log('Selected User:', selectedUser);
                            console.log('Selected Users Array:', selectedUsers);
                            const selectedUsersJSON = JSON.stringify(selectedUsers);
                            document.getElementById('selected_member').value = selectedUsersJSON;

                            updateselectedGroupMember();
                        } else {
                            console.log('User already selected:', selectedUser);
                        }
                    });
                });
            }
            //update UI for members in form
            function updateselectedGroupMember() {
                selectedGroupMember.innerHTML = '';

                selectedUsers.forEach(user => {
                    const userTemp = document.createElement('div');
                    userTemp.classList.add("added-user");
                    userTemp.textContent = user.username;
            
                    const closeButton = document.createElement('button');
                    closeButton.classList.add('user-remove-btn');

                    closeButton.addEventListener('click', function() {
                        // Remove the user from the selectedUsers array
                        const index = selectedUsers.findIndex(ele => ele.id === user.id);
                        if (index !== -1) {
                            selectedUsers.splice(index, 1);
                            // Update the UI for members
                            updateselectedGroupMember();
                        }
                    });
            
                    userTemp.appendChild(closeButton);
                    selectedGroupMember.appendChild(userTemp);
                });
            }
            //change the priority
            function changePriority(priority) {
                
                var priorityInput = document.getElementById("priorityInput");
                priorityInput.value = priority.toLowerCase();
               
                console.log(this.priority, "priority")
                var buttons = document.querySelectorAll('.btn-priority');
                buttons.forEach(function(button) {
                    button.classList.remove('active');
                });
            
                var button;
                if (priority === 'low') {
                    button = document.getElementById('priorityLow');
                } else if (priority === 'medium') {
                    button = document.getElementById('priorityMedium');
                } else if (priority === 'high') {
                    button = document.getElementById('priorityHigh');
                }
                if (button) {
                    button.classList.add('active');
                }
            }
            
            function changeStatus(status) {
                this.status = status.toLowerCase();

                var statusInput = document.getElementById("statusInput");
                statusInput.value = status.toLowerCase();

                var buttons = document.querySelectorAll('.btn-status');
                buttons.forEach(function(button) {
                    button.classList.remove('active');
                });
            
                var button;
                if (status === 'not-started') {
                    button = document.getElementById('notStarted');
                } else if (status === 'in-progress') {
                    button = document.getElementById('inProgress');
                } else if (status === 'completed') {
                    button = document.getElementById('completed');
                }
                if (button) {
                    button.classList.add('active');
                }
            }  

            
        </script>
    </body>
</html>

